body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#image-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#countdown-box {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#countdown {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: green;
}

#final-message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffd700;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.contact-info img {
    width: 50px;
    height: 50px;
}

.phone-number {
    font-size: 18px;
}

.brand {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    #image-container {
        max-width: 90%;
    }

    #countdown-box {
        max-width: 90%;
    }
}
